name: Deploy DAGs to Composer

on:
  push:
    branches:
      - main
    paths:
      - "config/pipelines.yaml"

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Sync DAGs to GCS
        run: |
          gcloud storage rsync -r ./dags gs://${{ secrets.GCS_BUCKET }}/dags --delete-unmatched-destination-objects
